$style: "baner";
.#{$style} {
  margin-top: 15px;
  margin-bottom: 10px;
  &__wrapper {
    @include flex(center, center);
    max-width: 335px;
    max-height: 104px;
  }
  &__img {
    position: relative;
  }
  &__heading {
    @include text($H80, 600, $white-100);
    position: absolute;
    text-transform: uppercase;
    line-height: 25px;
  }
}